/*
 * minimal5.css_t
 * ~~~~~~~~~~~~~
 *
 * Stylesheet for minimal5 theme.
 *
 * :copyright: Copyright 2011-2014 by Vlad Riscutia and contributors (see
 * CONTRIBUTORS file)
 * :license: FreeBSD, see LICENSE file
 */

@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);/* General style */
body {
    background-color: #F8FAFB;
    font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 1000px;
    color: #444;
}

a:link, a:visited, a:active {
    color: #3778CD;
    text-decoration: none;
}

a:hover {
    color: #3778CD;
    text-decoration: underline;
}

h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {
    color: black;
}

a.readmore {
  font-weight:bold;
}


code, kbd, pre, samp { font-family: 'Source Code Pro', monospace, serif; line-height: 1.4em; }

.highlight pre {
    background-color: #F0F0F0;
    border: 1px solid #CCC;
    font-size: .8em;
    padding: 0.5em;
    border-radius: 2px;
}

.docutils.literal {
    background-color: #F0F0F0;
    border: 1px solid #F8FAFB;
    border-radius: 8px; padding: 2px 4px;
}


/* Header */
header {
    margin-bottom: 48px;
    text-align: center;
}

header h1 {
    font-size: 300%;
    margin: 12px;
}

header h2 {
    font-size: 110%;
    margin: 0px;
}

/* Page navigation */
nav {
    background-color: #E8EAEB;
    font-size: 125%;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    width: 100%;
    top: 0;
}

nav a:link, nav a:visited, nav a:active, nav a:hover {
    color: #444;
}

nav ul, nav ol {
    line-style: none;
    list-style-image: none; 
    margin: 0;
    padding: 0 24px;
}

nav li {
    display: inline;
    padding: 0 24px;
    text-align: center;
    width: 100%;
}

li.quicklink { 
    display: none; 
}

div#searchbox input {
    width: 160px;
}

/* Content */
div.admonition {
    background: #f8f8f8;
}

/* Body */
h1 {
    margin-top: 0;
}

ul.related li { 
    list-style-type: none; 
    text-align: center;
}

article {
    padding: 0 40px;
}

article li { 
    line-height: 1.5em; 
}

/* Sidebar */
aside {
    font-size: 80%;
}

aside.sidebar {
    padding: 0 40px;
}

aside.sidebar h1 {
    font-size: 150%;
}

/* Meta */
div.postmeta {
    margin-top: 40px;
    font-size: 80%;
    color: #93A4AD;
}

div.timestamp {
    margin-top: 0;
    padding-bottom: 0;
}


/* Archive */
span.title_tag, span.title_category {
    font-style: italic;
}

div.year h1 {
    float: left;
    margin-right: -100%;
    margin-top: 20px;
}

div.year ul {
    display: inline;
    list-style-type: none;
    margin: 0;
}

div.year div.postmeta {
    margin-left: 50%;
    margin-top: 12px;
}

div.year div.timestamp {
    float: left;
    line-height: 1.5em;
    margin-left: 27%;
    margin-top: 0;
    font-style: normal;
    font-weight: bold;
}

div.year h2 {
    margin-bottom: 0;
    margin-left: 50%;
    margin-top: 0;
}

/* Separators */
div.post_separator {
    width: 100%;
    margin: 20px 0;
    border-top: 1px dashed #808080;
}

div.year_separator {
    width: 100%;
    border-top: 1px dashed #808080;
}

/* Archive */
div.archive_link {
    border-top: 1px dashed #808080;
    border-bottom: 1px dashed #808080;
    font-size: 120%;
    margin-top: 24px;
    padding: 24px 0;
    text-align: center;
}

/* Footer */
footer {
    margin-top: 40px;
    text-align: center;
}

/* Retina displays ========================================================= */
@media screen and (-webkit-min-device-pixel-ratio: 2)
{
    /* Body ---------------------------------------------------------------- */
    body {
        font-size: 200%;
    }
}

@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */
    nav li { display: inline; list-style-type: none; text-align: left; width: auto; }

    ul.related { margin: 0 0 8px 0; padding: 0; }
    ul.related li { display: inline; }
    ul.related li.right { float: right; }
}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
    li.quicklink { display: inline; float: right; }
}

/* Minimal theme has narrower sidebar */
@media only screen and (min-width: 999px) {
    article { float: left; margin-right: 303px; width: 613px; }

    aside { display: block; float: left; margin-left: -300px; width: 220px; }
}
